// ================ Reset ================ //

// @import url('https://fonts.googleapis.com/css?family=Pacifico')
// @import url('https://fonts.googleapis.com/css?family=Satisfy')
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel')


$family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif
$shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)

*
  box-sizing: border-box
  list-style-type: none
  text-decoration: none

body
  /* optional */
  font-family: $family
  line-height: 1.15
  padding: 0
  margin: 0 auto
  max-width: 1920px
  background: color(whitesmoke)

button, input, optgroup, select, textarea
  font:
    family: $family
    size: 100%
    line-height: 1.15
    margin: 0

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  appearance: none
  margin: 0

ul
  padding-left: 0
  margin: 0

// ================ Style ================ //
h1, h2, h3, h4, h5, h6
  margin: 2px 0
  color: color(black)
  font-weight: 600
  letter-spacing: 0.06em

h1
  font-size: 32px

p
  font-weight: 300

a
  &:hover
    text-decoration: underline

img
  width: 100%
  height: auto
  display: block

button, input[type="submit"]
  padding: 0 8px
  cursor: pointer
  outline: none
  white-space: nowrap
  &:active,
  &:focus
    opacity: 0.7

=logo($size: 2.1em)
  font-family: 'Grand Hotel', cursive !important
  color: color(black)
  text-decoration: none
  font-size: $size

.form
  font-size: 14px
  background: #fff
  border: 1px solid color(lightgray)
  border-radius: 1px
  justify-content: center
  max-width: 450px
  margin: 12px auto 0
  padding: 20px
  button, input[type="submit"]
    background: color(blue)
    border: 1px solid color(blue)
    border-radius: 3px
    line-height: 26px
    font-weight: 600
    color: #fff
    margin: 12px 0
  input:not([type="submit"]), textarea
    border: 1px solid color(lightgray)
    border-radius: 3px
    color: color(black)
    font-size: 14px
    padding: 9px 8px 7px
    line-height: 18px
    margin: 4px 0
    resize: none
  &__header
    align-items: center
    margin-bottom: 20px
    h1
      margin-left: 20px
      font-weight: 200
      font-size: 32px
      line-height: 40px
      white-space: nowrap
    img
      border-radius: 50%
