extends layout
include mixins/_imgCard

block content
  section
    - const path = like ? '/like' : ''
    .current-img
      .prev-img
        if prev
          a.arrow.prev(href=`/p/${prev}${path}`) ❮
      +imgCard(current)
      .next-img
        if next
          a.arrow.next(href=`/p/${next}${path}`) ❯  
