include mixins/_flash

doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
    link(rel='stylesheet', href='/dist/style.css') 
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .main-content.col
      header
        include _nav  
      article
        block messages
          +flash()
        block content
        block scripts
        script(src="/dist/bundle.js")  
      footer
        include _footer
