doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css') 
    script(src="http://localhost:8080/public/dist/bundle.js")  
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
    main 
      nav.nav.row
        .nav__logo
          a(href="/") Logo
        .nav__user
          a(href="#") Likes
          a(href="/user/upload") Add Image
          a(href="/login") Log in
          a(href="/user") Account
      block content
