doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="shortcut icon" type="image/ico" href="/images/instagram.ico")
    link(rel='stylesheet', href='/dist/style.css') 
    script(src="http://localhost:8080/public/dist/bundle.js")  
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      include nav  
    article
      block content
      block scripts
      script(src="/dist/bundle.js")  
