extends layout
include mixins/_gallery

block content
  section
    .content
      - const n = images.length
      - const likes = !n ? "" : n === 1 ? `${n} like` : `${n} likes`
      .content__header
        h3= likes
      .gallery.row
        each image in images  
          +gallery(image, like = true)
