extends layout
include mixins/_formLogin

block content
  section
    .form
      h1 LOGO
      .facebook_register.col
        form(method="GET", action="/login/facebook")
          input.button(type="submit" value="Log in with Facebook")
      .line-or.row
        span
        span.or or
        span
      +formLogin()
      a(href="/register") Don't have an account?
