extends layout
include mixins/_formLogin

block content
  section
    .form
      .header
        h1= h.siteName
      p Log in to see photos and videos from your friends.  
      //- .facebook_register.col
      //-   form(method="GET", action="/login/facebook")
      //-     input.button(type="submit" value="Log in with Facebook")
      //- .line-or.row
      //-   span
      //-   span.or or
      //-   span
      +formLogin()
      a(href="/register") Don't have an account?
