nav.nav.row
  .nav__logo
    a(href="/")
      img.logo(src="/images/logo.png", alt="logo" style="width: 35px;")
  .nav__user.row
    if user
      a.log(href="/logout") Log Out
      a(href=`/${user.slug}/likes`)
        .icon__heart
      a(href=`/${user.slug}/upload`) 
        .icon__upload
      a(href=`/${user.slug}`)
        .icon__account
    else 
      a.log(href="/login") Log In 
