extends layout
include mixins/_formProfile
include mixins/_formPassword

block content
  .form
    .form__header.row
      a(href="https://en.gravatar.com/site/login", target="_blank" title=`${h.gravatar}`)
        img.gravatar(src=`${user.gravatar}&s=60`, alt=`${user.name}'s' avatar`)
      h1= user.username
    +formProfile()
    +formPassword()
