extends layout
include mixins/_formRegister

block content
  section
    .form
      .header
        h1= h.siteName
      p Sign up to see photos and videos from your friends.
      +formRegister()
      a(href="/login") Have an account?
      
    
