extends layout
include mixins/_formRegister

block content
  section
    .form
      h1 LOGO
      p Sign up to see photos and videos from your friends.
      .facebook_register.col
        button(type="button") Log in with Facebook
      .line-or.row
        span
        span.or or
        span
      +formRegister()
      a(href="/login") Have an account?
      
    
