extends layout

block content
  .form
    p.upload__message  Share a new image! 
    form.form__image.col(action='/api/upload', method='POST', enctype='multipart/form-data')
      input(type='file', name='photo', id="photo" accept='image/png, image/jpeg', required)
      textarea(name='caption', placeholder='Write a caption...', maxlength='140')
      input.button(type='submit', value='Share')
