extends layout
include mixins/_suggestions

block content
  .tutorial.col
    h3= text
    p You can visit your #[a(href=`/${user.slug}`) profile], share an image or follow other users. Here are some suggestions for you.
    +suggestions(profiles)
