mixin flash()
  if locals.flashes
    .flash-messages
      - const categories = Object.keys(locals.flashes)
      each category in categories
        each message in flashes[category]
          .flash(class=`flash--${category}`).row
            p.flash__text!= message
            button.flash__remove(onClick="this.parentElement.remove()") &times;   
