mixin formAccount()
  form.form__account.col(action="/register" method="POST")
    input(type="text" name="name" placeholder="Name" required)
    input(type="text" name="username" placeholder="Username" required)
    input(type="text" name="website" placeholder="Website")
    input(type="email" name="email" placeholder="Email Address" required)
    input.button(type="submit" value="Submit")
