mixin formPassword()
  form.form__login(action="/change-password" method="POST")
    input(type="password" name="password" placeholder="Old Password" required) 
    input.button(type="submit" value="Next")
    a(href="/edit") ← back  
