mixin modal(data = {})
  #modal.modal
    .modal__content
      .header
      ul.contact-list
        //- each user in data
        //-   li.row
        //-     a.img(href=`/${user.slug}`)
        //-       img(src=`${user.gravatar}`, alt=`${user.name}'s avatar`)
        //-     .user-name.col  
        //-       a(href=`/${user.slug}`)= user.username
        //-       span= user.name
  .modal__overlay    
