.img-card
  font-size: 14px
  margin: 60px auto
  max-width: 600px
  border: 1px solid color(lightgray)
  border-radius: 3px
  background: #fff
  &__header
    justify-content: space-between
    position: relative
    align-items: center
    border-bottom: 1px solid color(lightgray)
    height: 60px
    padding: 16px
    .user
      align-items: center
      a.img
        +size(30px, 30px)
        border-radius: 50%
        margin-right: 8px
        display: flex
        justify-content: center
        overflow: hidden
      img
        +size(100%, auto)
    .username
      font-weight: 600
    .remove-image
      +font(14px, 200)
      color: color(gray)
      &:hover
        color: darken(color(gray), 20%)
  &__content
    margin: 4px 16px
    padding: 10px
  &__date
    font-size: 10px
    text-transform: uppercase
    color: color(gray)
  &__comment
    border-top: 1px solid color(lightgray)
    input
      width: 100%
      border: none
      height: 40px
      padding: 16px
      margin: 6px 0
      &:focus
        outline: none
  .log-in
    margin: 4px 16px
    padding: 10px

.content
  &__likes
    align-items: center
    margin-bottom: 10px
    a
      font-weight: 600
    .icon
      &__heart
        +size(24px, 24px)
        background: url(../images/hearts.png) no-repeat
        margin-right: 12px
        border: none
        background-position: -26px 0
        &.on
          background-position: 0 0
  &__comments
    max-height: 200px
    overflow: auto
    li
      justify-content: space-between
      margin: 8px 0
      a
        font-weight: 600
        margin-right: 0.5em
      .remove-comment
        padding: 0 4px
        color: color(gray)
        &:hover
          color: darken(color(gray), 20%)
