.img-card
  font-size: 14px
  margin: 60px auto
  max-width: 600px
  border: 1px solid color(lightgray)
  border-radius: 3px
  background: #fff
  &__header
    justify-content: space-between
    position: relative
    align-items: center
    border-bottom: 1px solid color(lightgray)
    height: 60px
    padding: 16px
    .user
      align-items: center
      a.img
        +size(30px, 30px)
        border-radius: 50%
        margin-right: 8px
        display: flex
        justify-content: center
        overflow: hidden
      img
        +size(100%, auto)
    .username
      font-weight: 600
    .remove-image
      +font(14px, 200)
      color: color(gray)
      &:hover
        color: darken(color(gray), 20%)
  &__content
    margin: 4px 16px
    padding: 10px

  &__date
    font-size: 10px
    text-transform: uppercase
    color: color(gray)
  &__comment
    border-top: 1px solid color(lightgray)
    input
      width: 100%
      border: none
      height: 40px
      padding: 16px
      margin: 6px 0
      &:focus
        outline: none
  .log-in
    margin: 4px 16px
    padding: 10px

.content
  &__likes
    align-items: center
    margin-bottom: 10px
    a
      font-weight: 600
    .icon
      &__heart
        +size(24px, 24px)
        background: url(../images/heart.svg) no-repeat
        margin-right: 12px
        border: none
        &.on
          background: url(../images/hearton.svg) no-repeat
  &__caption
    white-space: pre-wrap      
  &__comments
    max-height: 200px
    overflow: scroll
    li
      justify-content: space-between
      margin: 8px 0
      a
        font-weight: 600
        margin-right: 0.5em
      .remove-comment
        margin-right: 10px
        padding: 0 6px
        color: color(gray)
        &:hover
          color: darken(color(gray), 20%)

// View current photo
.current-img
  max-width: 800px
  margin: 60px auto 0
  justify-content: center
  .prev-img,
  .next-img
    min-width: 50px
    max-width: 50px
    a.arrow
      +position(center, center)
      height: 100%
      padding: 10px 20px
      font-size: 30px
      color: color(lightgray)
      transition: color 0.3s
      &:hover
        color: color(gray)
  .img-card
    margin: 0
