// user
+break(868px)
  .gallery__img
    margin: 0
+break(xs)
  .content
    .header
      flex-flow: column
      &__data
        width: 100%
        padding: 0
        justify-content: space-around
        align-items: center
        &--name
          +position(center, center)
          margin: 4px 0
          h2
            margin: 0
          form.follow, a.edit-profile
            margin-left: 10px
      &__data--statistics
        width: 100%
        justify-content: space-around
        span, a
          margin: 0 !important
          white-space: normal
      &__data--profile
        padding: 0 12px


//navbar
+break(960px)
  .nav__logo
    transition: all 0.2s
    padding-left: 20px
+break(xs)
  header
    position: fixed
    top: 0
    z-index: 99
    width: 100%
    box-shadow: $shadow
  article
    margin-top: 80px
  .nav
    +position(space-between, center)
    &__logo
      padding-left: 0
      display: flex
      justify-content: center
      +grid(3, 12)
      border-right: 1px solid color(lightgray)
    &__user
      justify-content: space-around
      +grid(9, 12)
      .nav-i
        margin: 0 !important
        .icon
          &__heart,
          &__notify,
          &__upload,
          &__account,
          &__logout,
            +size(28px, 28px)

// img-card
+break(700px)
  .img-card
    border-radius: 0
    margin: 8px 0
  .current-img
    width: 100%
    position: relative
  .prev-img,
  .next-img
    z-index: 9
    height: 100%
    position: absolute
    a.arrow
  .prev-img
    left: 0
  .next-img
    right: 0

// tutorial
+break(xs)
  .tutorial
    .contact-list
      flex-direction: column
