.upload
  justify-content: center
  &__message
    +font(17px, 600)
    text-align: center
    color: color(gray)
    margin: 0 0 20px 0
  input[type='file']
    position: fixed
    bottom: 1000%
  &__label
    position: relative
    font-weight: 300
    +position(center, center)
    cursor: pointer
    border: 2px dashed color(bluegray)
    width: 100%
    min-height: 40px
    border-radius: 3px
    &:hover
      box-shadow: $shadow
    .icon-modal__upload
      position: absolute
      color: color(gray)
    .thumb
      z-index: 9999
