.sure-modal
  +font(16px, 300)
  +position(center, center)
  position: absolute
  top: -45px
  right: 0
  width: 100%
  background: #fff
  border: 1px solid color(blue)
  border-radius: 3px
  padding: 10px 0
  z-index: 9999
  &__yes,
  &__no
    cursor: pointer
    text-align: center
    width: 40px
    transition: all 0.2s
    &:hover
      transform: scale(1.2)
