header
  display: flex
  justify-content: center
  background: #fff
  border-bottom: 1px solid rgba(0,0,0, 0.1)
  .nav
    +position(space-between, center)
    width: 960px
    height: 77px
    &__logo
      a
        +logo()
    &__user
      position: relative
      align-items: center
      .log
        color: #262626
        font-weight: 300
        white-space: nowrap
      a.nav-i
        margin: 0 20px
      .icon
        &__notify
          background: url(../images/notify.svg)
          &-on
            background: url(../images/notifyon.svg)
        &__heart
          background: url(../images/heart.svg)
        &__account
          background: url(../images/user.svg)
        &__upload
          background: url(../images/upload.svg)
        &__logout
          background: url(../images/logout.svg)
      .icon
        &__upload,
        &__account,
        &__notify,
        &__heart,
        &__logout
          +size(24px, 24px)
          background-size: cover
          background-repeat: no-repeat
