.tutorial,
  margin: 60px auto
  width: 600px
  border: 1px solid color(lightgray)
  border-radius: 3px
  background: #fff
  padding: 20px
  p
    +font(16px, 200)
    line-height: 24px
  a
    font-weight: 600
  h2
    border-bottom: 1px solid color(lightgray)
    padding-bottom: 10px
    text-align: center
  .box__content
    box-shadow: 0 1px 5px color(lightgray), 0 -1px 5px color(lightgray)
