.tutorial,
  @extend .col, .gray-border
  margin: 60px auto
  max-width: 500px
  border-radius: 3px
  background: #fff
  padding: 20px
  p
    +font(16px, 200)
    line-height: 24px
  a
    font-weight: 600
  h3
    border-bottom: 1px solid color(lightgray)
    padding-bottom: 10px
  h3, p
    text-align: center
  .contact-list
    @extend .row
    flex-wrap: wrap
    li.contact
      @extend .row, .gray-border
      margin: 2px
      flex-basis: calc(50% - 4px)
      .user-name
        @extend .col
        justify-content: center
