.content
  max-width: 960px
  margin: 0 auto
  .header
    +position(center, center)
    padding: 30px 0
    border: 0
    margin-top: 10px
    &__img
      +grid(2, 6)
      justify-content: center
      img
        +size(150px, 150px)
        border-radius: 50%
    &__data
      height: 150px
      justify-content: space-between
      +grid(4, 6)
      padding: 10px
      &--name
        align-items: center
        h2
          +font(32px, 200)
          margin: 0
          line-height: 40px
          white-space: nowrap
          margin-right: 20px
        a, button
          +font(14px, 600)
          line-height: 26px
          cursor: pointer
          background: color(blue)
          color: color(white)
          border: 1px solid color(blue)
          padding: 0 24px
          border-radius: 3px
          &:active
            opacity: 0.5
        .Following
          background: transparent
          border: 1px solid color(lightgray)
          color: color(black)
      &--statistics
          margin: 10px 0
          a, span
            +font(16px, 300)
            color: color(black)
            margin-right: 40px
            white-space: nowrap
            &::first-letter
              font-weight: 600
      &--profile
        h2
          +font(16px, 600)
          display: inline
          margin: 0
        span
          margin-left: 0.5em
          font-weight: 400
        a
          font-weight: 600
          margin-left: 0.5em
