.content
  max-width: 960px
  margin: 0 auto
  .header
    +position(center, center)
    padding: 30px 0
    border: 0
    margin-top: 10px
    &__data
      height: 150px
      justify-content: space-between
      +grid(4, 6)
      padding: 10px
      &--name
        align-items: center
        h2
          +font(32px, 200)
          margin: 0
          line-height: 40px
          white-space: nowrap
          margin-right: 20px
        a.edit-profile, button
          +font(14px, 600)
          line-height: 26px
          cursor: pointer
          background: color(blue)
          color: color(white)
          border: 1px solid color(blue)
          padding: 0 24px
          border-radius: 3px
          white-space: nowrap
          &:active
            opacity: 0.5
        .Following
          background: transparent
          border: 1px solid color(lightgray)
          color: color(black)
      &--statistics
        margin: 10px 0
        a, span
          +font(16px, 300)
          color: color(black)
          white-space: nowrap
          &:not(a)
            margin-right: 40px
        .number
          margin-right: 0.5em
          font-weight: 600
      &--profile
        h2
          +font(16px, 600)
          display: inline
          margin: 0
          margin-right: 0.5em
        span
          margin-right: 0.5em
          font-weight: 200
        a.website
          +font(16px, 600)
          color: color(black)

.avatar
  input[type='file']
    position: fixed
    right: 100%
    bottom: 100%
  +position(center, center)
  +size(150px, 100%)
  border-radius: 50%
  position: absolute
  background: rgba(0,0,0, 0)
  &__change
    background: url(../images/edit.svg)
    cursor: pointer
  &__remove
    background: url(../images/remove.svg)
  &__change,
  &__remove
    opacity: 0
    visibility: hidden
    margin: 0 20px
    +size(20px, 20px)
    background-size: cover
    background-repeat: no-repeat

.header__img
  position: relative
  +grid(2, 6)
  justify-content: center
  img
    +size(150px, 150px)
    border-radius: 50%
  &:hover
    .avatar
      background: rgba(0,0,0, 0.3)
      &__change,
      &__remove
        opacity: 1
        visibility: visible

.avatar
  .loader-cont
    border-radius: 50%
    background: rgba(0,0,0, 0.3)
